<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="practice test">
    <test name="browser stack demo">
        <classes>
            <class name="bsDemo.LoginTests"></class>
            <class name="bsDemo.BuyProductTest"></class>
            <class name="bsDemo.AddToFavouritesTest"></class>
        </classes>
    </test>
    <test name="tool shop">
        <classes>
            <class name="toolShop.RegisterTest"></class>
        </classes>
    </test>
</suite>
