<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="page object model">
    <listeners>
        <listener class-name="utils.TestListeners"></listener>
    </listeners>
    <test name="page object model">
        <classes>
            <class name="browserStackDemoTests.LoginTests"></class>
            <class name="browserStackDemoTests.BuyProductTest"></class>
            <class name="browserStackDemoTests.AddToFavoritesTest"></class>
        </classes>
    </test>
</suite>